@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

$gradient-top: linear-gradient(0deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-right: linear-gradient(90deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-bottom: linear-gradient(180deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-left: linear-gradient(270deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-top-right: linear-gradient(45deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-bottom-right: linear-gradient(135deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-top-left: linear-gradient(225deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-bottom-left: linear-gradient(315deg, #E1BDE6ff, #875E9Eff, #050201ff);
$gradient-radial: radial-gradient(#E1BDE6ff, #875E9Eff, #050201ff);

body {
  --color-primary: #541e43;
  --color-highlight: #005b41;
  --color-alert: #AA0F22;
  --color-black: #050201ff;
  --color-white: #f4f4f4;
  --color-snow-drift: #f9f9f9;

  --font-size-huge: 3rem;
  --font-size-big: 2rem;
  --font-size-small: .75rem;
  --font-size-normal: 1rem;

  margin: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;

  color: var(--color-primary);
}


h1 {
  color: var(--color-highlight);
}

p {
  color: var(--color-primary);
}

input {
  border-color: transparent;
}